/*****************************
Estilos generales
******************************/
* 
{
    font-family: 'Poppins', sans-serif;
}

/*****************************
Estilo columnas
******************************/
.col{
    padding: 10px 10px;
    margin: 15px 15px 15px 15px;
}

.card-hotel {
    padding-left: 20px;
    padding-bottom: 20px;
}

/*****************************
Estilos de encabezado
******************************/
.jumbotron {
    margin-top: 50px;
    background-image: linear-gradient(to right, rgba(137, 111, 160, 0.5) ,rgb(0, 4, 255, .5)), url(/images/seaside-994605.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

/*****************************
Estilos de barra de navegacion
******************************/
.navconfig .listnav .enlace{
    color: white;
}

/*****************************
Estilo boton
******************************/
.btn{
    width: 25%;
}
/*****************************
Estilos footer
******************************/
footer{
    background-color:black;
    margin-top: 10px;
}

.footer-enlaces {
    margin-top: 20px;
}

.footer-enlaces address {
    color: gray;
}


.footer-enlaces p a{
    color:gray;
    padding: 10px;
    
}

.footer-enlaces p a:hover{
    color: white;
}

