/*****************************
Estilos generales
******************************/
* 
{
    font-family: 'Poppins', sans-serif;
}

/*****************************
Estilo columnas
******************************/
.col{
    padding: 10px 10px;
    margin: 15px 15px 15px 15px;
}

.card-hotel {
    padding-left: 20px;
    padding-bottom: 20px;
}

/*****************************
Estilos de encabezado
******************************/
.jumbotron {
    margin-top: 0px;
    background: #50C9C3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,rgba(0, 4, 40, .5), rgba(0, 78, 146, .5)), url(/images/image1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-position: center;
    color: white;
    height: 400px;
    text-align: center;
}

/*****************************
Estilos de barra de navegacion
******************************/
.navbar{
    background:rgba(0, 0, 0, 0.6);
}
.navbar div ul li a {
    color: white;
}

.navbar div ul li a:hover{
    text-decoration-line: underline;
}

nav a {
    color: white;
}

nav button{
    color: white;
}


/*****************************
Estilo boton
******************************/
.btn-primary{
    width: 25%;
}

.btn-contacto {
    width: 100px;
}
/*****************************
Estilos footer
******************************/
footer{
    background-color:black;
    margin-top: 10px;
}

.footer-enlaces {
    margin-top: 20px;
}

.footer-enlaces address {
    color: gray;
}

.footer-enlaces p a{
    color:gray;
    padding: 10px;
}
.footer-enlaces ul li {
    list-style: none;
    padding: 10px;
}
.footer-enlaces ul li a{
    color:gray;
    padding: 10px;
    
}

.footer-enlaces ul li a:hover{
    color: white;
}

