.jumbotron {
    background-color: rgb(4, 173, 252)53, 238, 238);
    color: black;
};

.card-hotel {
    padding: 10px 10px;
    margin: 15px 15px 15px 15px;
    background-color: blue;
};

.btn{
    width: 100%;
};